/* imports */
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@300;400;500;600;700;800&display=swap");
* {
  font-family: "Poppins", sans-serif;
}

.header {
}
.container {
  text-align: center;
}
.heading {
  color: red;
}
.sub-heading {
  font-size: 0.9rem;
}
